.chess-table {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    border: 2px solid grey;
}

.odd-block {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
}

.even-block {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #000;
    text-align: center;
    color: #fff;
    line-height: 50px;
}
.catalog{
    min-height: 30px;
    border: 1px solid black;
}
.cart{
    height: 30px;
    border: 1px solid black;
}